body {
    font: 14px arial, sans-serif;
}

div {
    margin: 0;
}

.menuContainer {
    width: 500px;
    height: auto;
    background: url("BackgroundConfig.png");
    background-size: 100% 100%;
    color: #949790;
}

    .menuContainer .login {
        width: 100%;
        padding: 5%;
        overflow: auto;
    }

        .menuContainer .login .inputContainer {
            float: left;
            width: 40%;
        }

            .menuContainer .login .inputContainer .inputSpacer:not(:last-child) {
                padding-bottom: 5%;
            }

            .menuContainer .login .inputContainer .inputSpacer label {
                padding-bottom: 1%;
            }

            .menuContainer .login .inputContainer .inputSpacer select,
            .menuContainer .login .inputContainer .inputSpacer input {
                width: 90%;
            }

        .menuContainer .login .buttonContainer {
            float: left;
            padding: 5%;
            padding-left: 15%;
            width: 30%;
        }

#successBox, #errorBox {
    width: 300px;
    height: auto;
    background: url("BackgroundConfig.png");
    background-size: 100% 100%;
    color: #949790;
    position: absolute;
    top: 0;
    left: 100px;
    padding: 1%;
    display: none;
}

    #successBox button, #errorBox button {
        margin-top: 3%;
    }

button {
    background-color: #091212;
    border: 3px solid #1c3f42;
    display: inline-block;
    cursor: pointer;
    width: 90%;
    color: #949790;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

    button:disabled {
        cursor: not-allowed;
        background-color: grey;
        border: 3px solid lightgrey;
    }

    button:hover:not(:disabled) {
        background-color: #1d3737;
    }

    button img {
        height: 35px !important;
    }
